@import 'bulma/sass/utilities/_all.sass';

$cmb: #f5f5f5;

body{
  background-color: $cmb;
  section{
    text-align: center;
    padding: 200px 0px;
    background-color: #ccc;
    margin-bottom: 30px;
  }
}

@import '~bulma';
